[[source]]
name = "tuna"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[[source]]
name = "pytorch-cuda"
url = "https://download.pytorch.org/whl/cu126"
verify_ssl = true

[packages]
flask = "==2.0.3"
flask-sqlalchemy = "==2.5.1"
flask-migrate = "==3.1.0"
flask-login = "==0.5.0"
gunicorn = "==20.1.0"
numpy = "*"
pandas = "*"
scikit-learn = "*"
loguru = "*"
torch = {version = "*", index = "pytorch-cuda"}
torchvision = {version = "*", index = "pytorch-cuda"}
torchaudio = {version = "*", index = "pytorch-cuda"}
matplotlib = "*"
tqdm = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10.12"
